
.ageimg{background-image:url(/static/icon/age.svg);}
.heightimg{background-image:url(/static/icon/height.svg);}
.mealimg{background-image:url(/static/icon/meal.svg);}
.weightimg{background-image:url(/static/icon/weight.svg);}